PORT=3000
DB_USER=app
DB_PASSWORD=ejemplo
DB_NAME=moviedb
DB_SSL=false
DB_PREFER_PRIMARY=true
DB_FAILBACK_COOLDOWN_MS=30000
DB_FAILBACK_RETRY_MS=10000

# master1
DB_PRIMARY_HOST=localhost
DB_PRIMARY_NAME=master1
DB_PRIMARY_PORT=5432

# master2
DB_SECONDARY_HOST=localhost
DB_SECONDARY_NAME=master2
DB_SECONDARY_PORT=5433
